<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PetriNetworkSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PetriNetworkSimulator.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="NeighborhoodMatrix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PetriPalette" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StateTransitionDiagram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationNeighborhoodMatrix" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationPetriPalette" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationStateTransitionDiagram" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MiniMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocationMiniMap" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StateHierarchy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationStateHierarchy" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GridSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlignToGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatisticsTool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationStatisticsTool" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PetriEventList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationPetriEventList" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowCustomCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransitionHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationTransitionHistory" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </PetriNetworkSimulator.Properties.Settings>
    </userSettings>
</configuration>